<p id="notice"><%= notice %></p>

<h1><%= current_employer.name %>'s Job Listings</h1>

<div class="list-group">
    <% @jobs.each do |job| %>
      <div class="list-group-item">
        <h2><%= link_to job.title, job %></h2>
        <p><%= job.description %></p>
        <%= link_to 'Edit', edit_job_path(job), class:"btn btn-warning btn-lg" %>
        <%= link_to 'Destroy', job, class:"btn btn-warning btn-lg", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>

