<!DOCTYPE html>
<html>
<head>
  <title>Cougarjob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "emp signup", new_employer_registration_path  %>

<%= link_to "emp login", new_employer_session_path %>

<%= link_to "emp edit", edit_employer_registration_path %>

<%= link_to "logout", destroy_employer_session_path,:method => :delete %>


<%= yield %>

</body>
</html>
